{% extends 'course_manager/base.html' %}

{% block title %}EndGem{% endblock %}

{% block content %}
	{% if course %}
		<h3>{{ course.name }}</h3>
		{% if documents %}
			<ul class="list-group">
			{% for document in documents %}
				<li class="list-group-item d-flex justify-content-between align-items-center">
			      <p class="doc-name" style="display: inline;">{{ document.title }}</p>
			      <span class="badge badge-primary badge-pill download_count">{{ document.downloads }}</span>
			      <a class="downloads glyphicon glyphicon-save btn btn-dark" target="_blank" href="/{{ document.title }}/download"></a>
			    </li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>No documents currently in this course.</strong>
		{% endif %}
	{% else %}
		The specified course does not exist!
	{% endif %}
	<button class="btn btn-dark"><a href="/course/{{ course.slug }}/add_file/">Upload Document</a></button><br>
	<a href="/">Back to index page</a>
{% endblock %}