{% extends 'course_manager/base.html' %}

{% block title %}EndGem{% endblock %}

{% block content %}
	{% if courses %}
	<h3>Course with most downloaded files</h3>
	<ul class="list-group">
		{% for course in courses %}
			<li class="list-group-item d-flex justify-content-between align-items-center">
		      <a class="course-name" href="/{{ course.slug }}">{{ course.name }}</a>
		      <span class="badge badge-primary badge-pill">{{ course.downloads }}</span>
		    </li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>There are no categories present</strong>
	{% endif %}
	{% if documents %}
	<h3>Most downloaded documents</h3>
	<ul class="list-group">
		{% for document in documents %}
			<li class="list-group-item d-flex justify-content-between align-items-center">
		      	<p class="doc-name" style="display: inline;">{{ document.title }}</p>
		      	<span class="badge badge-primary badge-pill download_count">{{ document.downloads }}</span>
			   	<a class="downloads glyphicon glyphicon-save btn btn-dark" target="_blank" href="{{ document.title }}/download"></a>
		    </li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>There are no documents present</strong>
	{% endif %}
	<div>
		<a href="/add_course">Add Course</a>
	</div>
{% endblock %}